<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1>File data content:</h1>
        <p th:text="${element.fileName}"></p>
        <p th:text="${element.extension}"></p>
        <p th:text="${element.content}"></p>
    </body>
</html>