<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--
        <link rel= "....ADD stylesheet here">
        -->
    </head>
    <body>
        <table>
            <tr>
                <td>File name</td>
                <td>Extension</td>
                <td>Content</td>
            </tr>
            <tr th:each="elem : ${elements}">
                <td th:text="${elem.fileName}"></td>
                <td th:text="${elem.extension}"></td>
                <td th:text="${elem.content}"></td>
            </tr>
        </table>
    </body>
</html>