<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Pc Games Display</h1>
    <table>
        <tr>
            <td>Title</td>
            <td>Producer</td>
            <td>Genre</td>
            <td>Minimum Age</td>
            <td>Is AAA</td>
        </tr>
        <tr>
            <td th:text="${pcGame.title}"></td>
            <td th:text="${pcGame.producer}"></td>
            <td th:text="${pcGame.genre}"></td>
            <td th:text="${pcGame.minimumAge}"></td>
            <td th:text="${pcGame.isAAA}"></td>
        </tr>
    </table>
</body>
</html>