<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My new title</title>
</head>
    <body>
        <h1>Person content:</h1>
        <p th:text="${person.firstName}"></p>
        <p th:text="${person.lastName}"></p>
        <p th:text="${person.age}"></p>
        <table>
            <tr>
                <td>File Name</td>
                <td>Extension</td>
                <td>Size in kb</td>
            </tr>
            <tr th:each="file : ${person.files}">
                <td th:text="${file.fileName}"></td>
                <td th:text="${file.extension}"></td>
                <td th:text="${file.sizeInKb}"></td>
            </tr>
        </table>
    </body>
</html>