<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Persons View</title>
</head>
<body>
    <h1>Add a new person</h1>
    <form th:object="${personToAdd}" th:action="@{/persons/view}" method="post">
        <input type="text" th:field="*{firstName}">
        <input type="text" th:field="*{lastName}">
        <input type="number" th:field="*{age}">

        <input type="submit" value="Add person">
    </form>
    <h1>Person list</h1>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>File count</td>
            <td>Link to person view</td>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${#lists.size(person.files)}"></td>
            <td>
                <a th:href="@{/persons/view/{id}(id=${person.id})}">Person View</a>
            </td>
        </tr>
    </table>
</body>
</html>